asyncio
aiofiles
aiohttp
numpy
ffmpeg-python
gTTS
dnspython==2.3.0
future
googletrans
motor==3.0.0
pillow==8.3.2
psutil
pykeyboard
git+https://github.com/amanqs/pyrogram
python-arq
requests
search-engine-parser
speedtest-cli
uvloop
youtube_dl
bs4
python-dotenv
feedparser
#pyromod==1.5
fuzzysearch
img2pdf
telegraph
pytube
pytz
python-dotenv
openai
psutil
httpx[http2]
cachetools
pyrate-limiter==2.0.0
SpeechRecognition
py-extract
py-trans
pymediainfo
wget
regex
py-tgcalls==0.9.7
Telethon
tgcrypto
yt-dlp
youtube-search-python
youtube_search
